 .header{
        height: 60px;
        width: auto;
     min-width: 900px;
        background: #2a2a2a;
        margin: 0;
        padding: 0;
    }
    .header_icon{
        float: left;
        width: auto;
    }
    header_icon:hover {background-color:#050505}
    .header_font{
        color: #fff;
        font-family: "微软雅黑";
        font-size: 36px;
        float: right;
        margin-top: 5px;
    }
    .header_title{
        color: #fff;
        font-family: "微软雅黑";
        font-size: 34px;
        float: left ;
        margin-top: 5px;
        margin-left: 0px;
    }
    ul{
        float:left;
        width:100%;
        margin:0;
        list-style-type:none;
    }
   ul li a{
        float:left;
        text-decoration:none;
        color:#fff;
    }
    
    ul li:hover {background-color:#050505}
    li {
        display:inline;
        color:#fff;
    }
     ul li{ float:left;  line-height:50px; text-align:center; }
     ul li {margin-top: 0;  width:90px;}
    
    .login{
        position: absolute;
        left: 62%;
        top: 100px;
        width: 340px;
        height: 430px;
        background: #fff;
        border: 1px solid #999;
        box-shadow: #666 0px 0px 30px;
    }
.login_title{
    position: absolute;
    width: 60%;
    height: 40px;
   padding: 20px 55px ; 
    color:#000; 
    font-family: "微软雅黑";
    font-size: 20px;
}
.login_lg{
    position: absolute;
    left: 10%;
    top: 20%;
    width: 80%;
    height: 30%;
    color:#222; 
    font-family: "微软雅黑";
    font-size: 18px;
    border: 1px solid #666;
}
.login_user{
    position: absolute;
    left: 5%;
    width: 90%;
    height: 49%;
    color:#222; 
    font-family: "微软雅黑";
    font-size: 24px;
    border-bottom: 1px solid #aaa;
}

.login_passwd{
    position: absolute;
    left: 5%;
    top: 50%;
    width: 99%;
    height: 49%;
    color:#222; 
    font-family: "微软雅黑";
    font-size: 24px;
}

.login_btn {
   position: absolute;
    left: 10%;
    top: 66%;
    width: 80%;
    height: 60px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    box-shadow: #666 0px 0px 10px;
    color: #eee;
    float: left;text-align: center;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font: bold 12px/25px Arial, sans-serif;
}
.login_btn:hover{
    background-color:#BC1F1A;
}
.red {
    color: #fff;
    background: #E24D46;
    font-family:"黑体";
    font-size: 30px;
}

.check{
    position: absolute;
  left: 30px;
  top: 240px;
    width: 80%;
}

.sign_btn {
   position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 60px;
    box-shadow: #666 0px 0px 10px;
    color: #eee;
    float: left;
    text-align: center;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background: #2a2a2a;
    font-family:"黑体";
    font-size: 30px;
}
.sign_btn:hover{
    background-color:#050505;
}



/* 图标 */
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-ej52i8');
	src:url('fonts/icomoon.eot?#iefix-ej52i8') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-ej52i8') format('truetype'),
		url('fonts/icomoon.woff?-ej52i8') format('woff'),
		url('fonts/icomoon.svg?-ej52i8#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
	content: "\e971";
}
.icon-lock:before {
	content: "\e98f";
}

#footer{
    height: 80px;
    width: 100%;
    background: #2a2a2a;
    bottom: 0;
    color: #6D6D6D;
    text-align: center;
    position:fixed;
    bottom:0px;

}
#footer p{
    font-size: 10px;
}
#footer p a{
    color: #6D6D6D;
    text-decoration:none;
    font-size: 10px;
}





